.modal-content{
    border: 2px solid #476D65;
    border-radius: 20px;

    i{
        color: #476D65;
    }
}

.modal-header{
    padding: 10px;
}

.form-label{
    padding-left: 4px;
    font-weight: 700;
    color: #476D65;
}

.form-title{
    font-size: 20px;
    font-weight: 800;
    color: #476D65;
}