.card-item{
    &--1{
        .card-name {
            position: absolute;
            top: 22.4%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }

        .card-address {
            position: absolute;
            top: 70.4%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }

        .card-email {
            position: absolute;
            top: 57.8%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }

        .card-phone {
            position: absolute;
            top: 46.7%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }
    }


    &--2{
        .card-address {
            position: absolute;
            top: 54.4%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }

        .card-email {
            position: absolute;
            top: 65.4%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }

        .card-phone {
            position: absolute;
            top: 77.4%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }
    }

    &--4{
        .card-name {
            position: absolute;
            top: 30.4%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }

        .card-address {
            position: absolute;
            top: 73.4%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }

        .card-email {
            position: absolute;
            top: 61.8%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }

        .card-phone {
            position: absolute;
            top: 50.7%;
            left: 20%;
            font-size: 15px;
            font-weight: 600;
        }
    }
}